header {
    position: relative;
    text-align: center;
    color: white;
}

.headImage {
    width: 100%;
    box-shadow: 2px 2px lightgray;
}

.headText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: .5px black;
}

@media only screen and (max-width:800px) {
    .headText {
        /* font-size: x-large; */
    }
}

@media only screen and (max-width:600px) {
    .headText {
        font-size: 13px;
        -webkit-text-stroke: 0px black;
    }
}